/* basic resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
img{
    max-width: 100%;
    display: block;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    min-height: 100vh;
    font-size: 15px;
    font-family: monospace;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
}

/* header styles */
header{
    /* border: 1px solid black; */
    padding: 1em 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.logo_container{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
.logo_text > h1{
    font-size: 22px;
    font-weight: 700;
}
.logo_text > p{
    font-size: 14px;
    font-weight: 400;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li{
    padding-left:  2em;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.login:hover{
    color: #6e6e6e;
}
nav a{
    color: black;
    font-size: 16px;
}
nav a:hover{
    color: #6e6e6e;
}
nav button{
    padding: .8em 1.5em;
    background: #ffbf23;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
   
}
nav button:hover{
    color: #ffbf23;
    background: black;
    
}

/* landing page */

.landing{
    background-image: url(../images/landing\ page.webp);
    margin-top:8em ;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: bottom;
    
}
.landing-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}
.landing_box_1{
    /* border: 2px solid black; */
    line-height: 1.3;
    /* padding-top: 2em; */
}
.landing_box_1 > h2{
    font-size: 50px;
    margin: .3em 0;
    font-weight: lighter;
}
.landing_box_1 >p{
    font-size: 20px;
    margin-bottom: 2em;
}
.landing_box_1 button{
    padding: .8em 1.5em;
    background: black;
    color:white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 1em;
}
.landing_box_1 button:hover{
    color: black;
    background: #b68a1b;
    
}

.q{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2em;
}
.box_1{
    display: flex;
    align-items: center;
    gap: 1em;
}
/* .landing_box_2{
    border: 2px solid black;
} */

/* nextsection */
.with{
    background: #ffbf23;
    margin: 5em 0;
}
.with-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5;
    padding: 4em 0;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    
}
.with-box h2{
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
}
.with-box > div{
    /* border: 1px solid black; */
    text-align: justify;
    padding: 3em 0;
    margin: 1em 0;
}

/* what we offer */
.offer-box{
    border: 1px solid black;
}